---
import BaseHead from "../components/BaseHead.astro";
import getReadingTime from "../lib/readingTime";
import BaseLayout from "./BaseLayout.astro";

export interface Properties {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage = '/post_img.webp' }
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {heroImage && <img src={heroImage} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      Published on {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <br />
      <span>Reading time is {0}</span>
      <div class="divider my-2"></div>
        <slot />
        <div class="divider my-2"></div>
        <script src="https://giscus.app/client.js"
        data-repo="BrycensRanch/Portfolio"
        data-repo-id="R_kgDOI0po-A"
        data-category="General"
        data-category-id="DIC_kwDOI0po-M4CVx6n"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
        
    </article>
  </main>
</BaseLayout>
